body {
    background: #E5E5E5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    color: chocolate;
    margin-top: 20px;
}
